In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('../Machine_Learning/Datasets/npr.csv')

In [3]:
df.head()

                                             Article
0  In the Washington of 2016, even when the polic...
1    Donald Trump has used Twitter  —   his prefe...
2    Donald Trump is unabashedly praising Russian...
3  Updated at 2:50 p. m. ET, Russian President Vl...
4  From photography, illustration and video, to d...

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
tfidf=TfidfVectorizer(min_df=2,max_df=0.95,stop_words='english')

In [6]:
npr=tfidf.fit_transform(df['Article'])

In [8]:
from sklearn.decomposition import NMF

In [9]:
nmf=NMF(n_components=7,random_state=42)

In [10]:
nmf.fit(npr)

NMF(alpha=0.0, beta_loss='frobenius', init=None, l1_ratio=0.0, max_iter=200,
    n_components=7, random_state=42, shuffle=False, solver='cd', tol=0.0001,
    verbose=0)

In [12]:
len(nmf.components_)

7

In [16]:
for i in range(7):
    print("-------------------------Component"+str(i)+'-------------------------------------------------')
    components=nmf.components_[i]
    first_ten=components.argsort()[-10:]
    for i in first_ten:
        print(tfidf.get_feature_names()[i])

-------------------------Component0-------------------------------------------------
disease
percent
women
virus
study
water
food
people
zika
says
-------------------------Component1-------------------------------------------------
election
republican
obama
white
house
donald
campaign
said
president
trump
-------------------------Component2-------------------------------------------------
tax
plan
republicans
affordable
obamacare
coverage
medicaid
insurance
care
health
-------------------------Component3-------------------------------------------------
isis
russia
government
state
attack
president
reports
court
said
police
-------------------------Component4-------------------------------------------------
party
delegates
vote
state
democratic
hillary
campaign
voters
sanders
clinton
-------------------------Component5-------------------------------------------------
time
song
life
really
know
people
think
just
music
like
-------------------------Component6-------------------------------------------------
devos
children
college
kids
teachers
student
education
schools
school
students

In [17]:
df

                                                 Article
0      In the Washington of 2016, even when the polic...
1        Donald Trump has used Twitter  —   his prefe...
2        Donald Trump is unabashedly praising Russian...
3      Updated at 2:50 p. m. ET, Russian President Vl...
4      From photography, illustration and video, to d...
...                                                  ...
11987  The number of law enforcement officers shot an...
11988    Trump is busy these days with victory tours,...
11989  It’s always interesting for the Goats and Soda...
11990  The election of Donald Trump was a surprise to...
11991  Voters in the English city of Sunderland did s...

[11992 rows x 1 columns]

In [26]:
topic_result=nmf.transform(npr)

In [27]:
df['Component number']=topic_result.argmax(axis=1)

In [28]:
df

                                                 Article  Component number
0      In the Washington of 2016, even when the polic...                 1
1        Donald Trump has used Twitter  —   his prefe...                 1
2        Donald Trump is unabashedly praising Russian...                 1
3      Updated at 2:50 p. m. ET, Russian President Vl...                 3
4      From photography, illustration and video, to d...                 6
...                                                  ...               ...
11987  The number of law enforcement officers shot an...                 3
11988    Trump is busy these days with victory tours,...                 1
11989  It’s always interesting for the Goats and Soda...                 0
11990  The election of Donald Trump was a surprise to...                 4
11991  Voters in the English city of Sunderland did s...                 3

[11992 rows x 2 columns]